// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  position: relative
  min-height: 500px
  margin: 0 auto
  font-family: 'HelveticaNeue', sans-serif
  font-weight: normal
  font-size: 16px
  color: #202430

h1
  font-size: 60px
  line-height: 70px
  font-weight: bold


h2
  font-size: 60px
  line-height: 70px
  font-weight: bold


h3
  font-size: 26px
  line-height: 40px
  font-weight: bold
  font-family: "Rubik"

h4
  font-size: 18px
  font-weight: bold
  font-family: "Rubik"

h5
  font-size: 16px
  line-height: 24px
  font-weight: 500


h6
  font-size: 14px
  line-height: 24px
  font-weight: 500
  color: #828DA2

a
  color: #202430
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box

.content
  min-height: calc(100vh - 364px)
  max-width: 1440px
  margin: 0 auto

.container
  max-width: 1440px
  margin: 0 auto
  padding-left: 150px
  padding-right: 150px


.justify-align
  display: flex
  justify-content: space-between
  align-items: center

.left-align
  display: flex


.right-align
  display: flex
  justify-content: flex-end

.center-align
  display: flex
  justify-content: center
  align-items: center


.flex
  display: flex
  flex-wrap: wrap

.row
  display: flex
  flex-wrap: wrap
  margin-left: -12px
  margin-right: -12px

  [class^='col']
    padding-left: 12px
    padding-right: 12px

.col-2
  width: 16.66666667%

.col-3
  width: 25%

.col-4
  width: 33.33333%

.col-5
  width: 41.66666667%

.col-6
  width: 50%

.col-7
  width: 58.33333333%

.col-8
  width: 66.66666667%

.col-9
  width: 75%

.col-10
  width: 83.33333333%

.col-11
  width: 91.66666667%

.col-12
  width: 100%





*::-webkit-input-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


.scroll-wrapper
  overflow: hidden !important
  position: relative
  height: 600px

  > .scroll-content
    border: none !important
    box-sizing: content-box !important
    height: auto
    left: 0
    margin: 0
    max-height: none
    max-width: none !important
    overflow: scroll !important
    padding: 0
    position: relative !important
    top: 0
    width: auto !important

    &::-webkit-scrollbar
      height: 0
      width: 0

.scroll-element
  display: none
  box-sizing: content-box

  div
    box-sizing: content-box

  &.scroll-x.scroll-scrollx_visible, &.scroll-y.scroll-scrolly_visible
    display: block

  .scroll-bar, .scroll-arrow
    cursor: default

.scroll-textarea
  border: 1px solid #cccccc
  border-top-color: #999999

  > .scroll-content
    overflow: hidden !important

    > textarea
      border: none !important
      box-sizing: border-box
      height: 100% !important
      margin: 0
      max-height: none !important
      max-width: none !important
      overflow: scroll !important
      outline: none
      padding: 2px
      position: relative !important
      top: 0
      width: 100% !important

      &::-webkit-scrollbar
        height: 0
        width: 0


.scrollbar-inner > .scroll-element
  border: none
  margin: 0
  padding: 0
  position: absolute
  z-index: 10

  div
    border: none
    margin: 0
    padding: 0
    position: absolute
    z-index: 10
    display: block
    height: 100%
    left: 0
    top: 0
    width: 100%

  &.scroll-x
    bottom: 2px
    height: 8px
    left: 0
    width: 100%

  &.scroll-y
    height: 100%
    right: 2px
    top: 0
    width: 4px

  .scroll-element_outer
    overflow: hidden
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px

  .scroll-element_track, .scroll-bar
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px

  .scroll-element_track, .scroll-bar
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"
    filter: alpha(opacity = 40)
    opacity: 0.4

  .scroll-element_track
    background-color: transparent

  .scroll-bar
    background-color: #96B5C7

  &:hover .scroll-bar, &.scroll-draggable .scroll-bar
    background-color: $green

  &.scroll-x.scroll-scrolly_visible .scroll-element_track
    left: -12px

  &.scroll-y.scroll-scrollx_visible .scroll-element_track
    top: -12px

  &.scroll-x.scroll-scrolly_visible .scroll-element_size
    left: -12px

  &.scroll-y.scroll-scrollx_visible .scroll-element_size
    top: -12px

