@font-face
  font-family: 'HelveticaNeue'
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format("woff2"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format("woff"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue'
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2') format("woff2"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format("woff"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'HelveticaNeue'
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff2') format("woff2"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff') format("woff"), url('../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.ttf') format("truetype")
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Regular.woff') format("woff"), url('../fonts/Rubik/Rubik-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Bold.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Bold.woff') format("woff"), url('../fonts/Rubik/Rubik-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?wqtkx7')
  src: url('../fonts/icomoon/icomoon.eot?wqtkx7#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?wqtkx7') format("truetype"), url('../fonts/icomoon/icomoon.woff?wqtkx7') format("woff"), url('../fonts/icomoon/icomoon.svg?wqtkx7#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-arrow-left:before
  content: "\e900"

.icon-delete:before
  content: "\e902"
  color: #96b5c7

.icon-facebook:before
  content: "\e903"
  color: #96b5c7

.icon-image:before
  content: "\e904"
  color: #96b5c7

.icon-instagram:before
  content: "\e905"
  color: #96b5c7

.icon-logout:before
  content: "\e907"
  color: #96b5c7

.icon-menu:before
  content: "\e908"

.icon-message-fill:before
  content: "\e90a"
  color: #96b5c7

.icon-plus:before
  content: "\e90e"
  color: #96b5c7

.icon-plus-circle:before
  content: "\e90f"
  color: #96b5c7

.icon-publications:before
  content: "\e910"
  color: #0ba59a

.icon-settings:before
  content: "\e911"
  color: #96b5c7

.icon-star:before
  content: "\e912"
  color: #ff7533

.icon-subscribers:before
  content: "\e913"
  color: #96b5c7

.icon-support:before
  content: "\e914"
  color: #96b5c7

.icon-telegram:before
  content: "\e915"
  color: #96b5c7

.icon-ts:before
  content: "\e916"
  color: #0ba59a

.icon-twitter:before
  content: "\e917"
  color: #96b5c7

.icon-update:before
  content: "\e918"
  color: #96b5c7

.icon-vk:before
  content: "\e91a"
  color: #96b5c7