@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------

.wrap
	position: relative
	display: flex
	flex-direction: row
	min-height: 100vh
	padding-bottom: 50px

	.header
		min-height: 700px
		max-height: 850px
		width: 100px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		padding: 27px 0 24px
		background: #DBF0FC
		border-radius: 0px 0px 60px 0px

		.logo
			margin-bottom: 50px
			.icon-ts::before
				color: $main

	.header-nav
		flex-direction: column

	.aside
		width: 260px

	.content
		width: calc(100% - 360px)
		padding: 36px 46px 60px 60px

		h3
			margin-bottom: 30px

	&+.footer
		position: absolute
		left: 0
		right: 0
		bottom: 30px
		padding: 0 0 0 400px
		
		.footer-bottom
			
			p
				color: #828DA2

			.soc-btn li a [class^=icon]::before
				color: #828DA2




.header
	position: relative
	transition: all .3s
	
	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		background: #fff
		margin: 0 auto
		z-index: 9999
		transform: translate(0 0)
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04)

	&-wrap
		padding: 38px 0

	&-nav
		display: flex
		align-items: center

	&-right
		display: flex
		align-items: center

		&__login
			margin-right: 40px
			font-weight: bold


.user
	&-menu
		list-style: none

		li
			margin-bottom: 48px

			a
				display: flex
				flex-direction: column
				align-items: center
				color: #828DA2

				&:hover, &.active
					opacity: 1
					color: $green

					[class^='icon']

						&::before
							color: $green

					.icon-list
						background: url(../img/list-green.svg) no-repeat

				[class^=icon]
					margin-bottom: 10px
					font-size: 30px
					line-height: 30px

				span
					font-size: 12px
					line-height: 15px
					text-align: center

	&-nav
		position: relative
		display: flex
		align-items: center
		flex-direction: column

		&__user
			display: block
			width: 50px
			height: 50px

			img
				display: block
				border-radius: 50%

		&__logout
			position: absolute
			left: 0
			right: 0
			margin: auto
			bottom: -90px
			text-align: center
			font-size: 24px



.aside
	padding: 40px 0 0
	border-right: 1px solid #DBF0FC

	h4
		padding: 0 24px
		margin-bottom: 10px

	&-profile

		&__wrap

			>img
				max-width: 114px
				display: block
				margin: 0 auto 20px
				border-radius: 50%

			h3
				text-align: center
				font-size: 24px

		p
			padding: 0 30px
			margin: 5px 0 30px
			line-height: 32px
			font-weight: 500

		.subscription-author__icons--item
			margin-left: 30px
			margin-bottom: 20px

			span
				font-size: 14px
				color: #828DA2
				opacity: 0.75









.profile-menu
	margin-top: 50px
	list-style: none
	padding: 0 12px

	li

		a
			display: block
			padding: 15px 22px
			font-weight: bold
			color: #202430
			border-radius: 4px

			&.active
				background: $green
				color: #fff

			&:hover, &:focus
				opacity: 1

.all-markets
	margin-top: 20px

.accordion
	padding: 0 12px

	&-item
		padding: 16px 22px

		&__header
			position: relative
			line-height: 26px
			font-weight: bold
			transition: all .3s
			cursor: pointer

			&:hover
				color: $green

				.accordion-item__header
					&::before
						opacity: 1

			&::before
				content: '\e90e'
				position: absolute
				top: 4px
				right: -22px
				font-family: "icomoon"
				font-size: 18px
				line-height: 18px
				color: $green
				opacity: .7
				transition: all .3s

		&.active

			.accordion-item__header

				&::before
					content: ''
					height: 3px
					width: 18px
					top: 11px
					background: $green

			.accordion-item__body
				box-shadow: 0px 12px 20px #5A6B9629
				border-radius: 10px



		&__body
			display: none
			margin: 12px 0 0
			padding: 16px 12px

		&__list
			list-style: none

			li
				a
					font-size: 14px
					line-height: 40px
					font-weight: bold

					&:hover
						color: $green


.tabs

	&-nav
		display: flex
		list-style: none

		li
			a
				display: block
				padding: 15px 20px 15px
				font-size: 16px
				line-height: 26px
				color: #828DA2
				font-weight: bold
				border-radius: 4px

				&.active
					color: $green
					background: #DBF0FC

				&:focus, &:hover
					opacity: 1

	&-wrap
		padding: 40px 0 0

	&-item
		display: none

		&.active
			display: block


		&__info
			padding: 0 0 0 20px

			>p
				margin-bottom: 40px
				line-height: 34px

				strong
					color: #000

		.latest-videos__item
			margin-bottom: 40px

.latest-updates, .messages-list
	padding: 0 24px

	&__item
		padding: 10px 0 10px
		border-bottom: 1px solid #DBF0FC
		display: flex
		flex-direction: column

		&.active
			color: $green

		&:hover
			opacity: 1
			color: $green

			.latest-updates__item--time
				color: $green

		&--header
			margin-bottom: 4px

		&--name
			margin-bottom: 4px

		&--time
			font-weight: 500
			font-style: italic
			line-height: 15px
			color: #828DA2
			transition: all .3s


.messages

	&-list

		&__item
			font-size: 12px

			&--text
				margin-bottom: 2px
				font-weight: 500
				transition: all .3s

			&--time
				transition: all .3s

			&:hover
				.messages-list__item--text, .messages-list__item--time
					color: $green

	&-header
		display: flex
		align-items: center
		padding-bottom: 25px
		border-bottom: 1px solid #DBF0FC

		img
			border-radius: 50%



		&.online

			.messages-header__img
				position: relative

				&::before
					content: ''
					position: absolute
					top: 0
					right: -3px
					width: 10px
					height: 10px
					border-radius: 50%
					background: $green
					border: 2px solid #fff


		&__name
			padding: 0 0 0 10px
			color: #000

		&__status
			padding: 0 0 0 8px
			font-size: 12px
			color: #828DA2
			font-weight: 500
			font-style: italic

.chat
	position: relative
	height: calc(100vh - 105px)
	padding-top: 50px
	padding-bottom: 90px

	&-item
		display: flex
		align-items: flex-end
		margin-bottom: 30px

		&__admin
			justify-content: flex-end

			.chat-item__avatar
				margin-left: 7px
				margin-right: 0

			.chat-item__header--name
				color: #000

			.chat-item__message
				border-radius: 10px 10px 0px 10px

		&__avatar
			position: relative
			margin-right: 7px

			&.online
				&::before
					content: ''
					position: absolute
					top: 0
					right: -3px
					width: 10px
					height: 10px
					border-radius: 50%
					background: $green
					border: 2px solid #fff

			img
				border-radius: 50%
		

		&__message
			width: 60%
			padding: 20px 30px 30px
			background: #F2F8FD
			border-radius: 10px 10px 10px 0

			p
				line-height: 32px
				color: #000

		&__header
			padding-bottom: 20px
			display: flex
			align-items: center
			justify-content: space-between

			&--name
				font-weight: 500
				color: $green

			&--time
				font-size: 12px
				color: #828DA2
				font-weight: 500
				font-style: italic




	&-bottom
		position: absolute
		left: 0
		right: 0
		bottom: 0

	&-form
		display: flex
		padding: 16px
		border-radius: 4px
		background: #F2F8FD

		textarea
			width: calc(100% - 246px)
			height: 54px
			border: none
			outline: none
			background-color: transparent
			resize: none

			&::-moz-placeholder
				
				line-height: 54px
				font-size: 14px
				color: #828DA2

			&::-webkit-input-placeholder
				
				line-height: 54px
				font-size: 14px
				color: #828DA2

			&:-ms-input-placeholder
				
				line-height: 54px
				font-size: 14px
				color: #828DA2

		.btn
			padding: 15px 0
			width: 246px



	.scroll-element.scroll-x
		display: none !important

	.scroll-wrapper
		height: 100%

	.scrollbar-inner
		margin-bottom: 90px

	&-no-message
		display: flex
		height: 100%
		align-items: center
		justify-content: center

		strong
			color: #96B5C7
			font-size: 18px
			font-family: "Rubik"


.article

	&-top
		margin-bottom: 40px

		&__author
			color: #828DA2
			font-weight: bold

		&__time
			color: #828DA2
			font-weight: bold
			font-style: italic

	> img
		display: block
		margin: 0 0 60px

	&-info
		padding: 0 0 0 20px

		>p
			margin-bottom: 40px
			line-height: 34px

			strong
				color: #000

	[class^="col"]
		>p
			margin-bottom: 40px
			line-height: 32px

	.voice
		margin-bottom: 40px


.comments

	h3
		margin-bottom: 30px
		font-size: 24px

		span
			font-size: 16px
			color: #828DA2

	&-form
		display: flex
		justify-content: space-between
		align-items: center

		.btn
			padding: 18px 20px 18px


		textarea
			padding: 15px 16px
			height: 54px
			width: calc(100% - 242px)
			background: #F2F8FD
			border-radius: 4px
			outline: none
			border: none
			resize: none
			font-size: 14px
			color: #000

			&::-webkit-input-placeholder 
				color: #828DA2
				font-size: 14px
				font-weight: 500

			&:-moz-placeholder 
				color: #828DA2
				font-size: 14px
				font-weight: 500

			&::-moz-placeholder
				color: #828DA2
				font-size: 14px
				font-weight: 500

			&:-ms-input-placeholder
				color: #828DA2
				font-size: 14px
				font-weight: 500




	&-block
		padding: 60px 0 0

	&-item
		display: flex
		margin-bottom: 40px

		&.level-2
			padding-left: 50px

		>img
			width: 60px
			height: 60px
			border-radius: 50%

		&__post
			padding: 0 0 0 12px
			width: calc(100% - 60px)

			p
				margin-bottom: 12px
				line-height: 32px

				a
					color: $green

		&__author
			margin: 0 0 12px
			color: #0BA59A
			font-weight: 500

		&__bottom
			display: flex

		&__time
			padding-right: 25px
			font-weight: 500
			color: #828DA2

		&__reply
			font-weight: 500
			color: $green

.add-image
	
	input[type="file"]
		display: none

		&+label
			height: 270px
			display: flex
			align-items: center
			justify-content: center
			background: #DBF0FC
			border-radius: 4px
			outline-offset: -20px
			outline: 1px dotted #828DA2
			cursor: pointer
			transition: all .3s

			&:hover
				opacity: .8

	&__icon
		display: flex
		flex-direction: column

		.icon-image
			margin: 0 auto 24px
			font-size: 38px

		strong
			font-weight: bold
			color: #828DA2
	



.user-img
	position: relative
	margin-bottom: 40px

	.btn-del
		position: absolute
		right: -40px
		top: 0



.btn-del
	width: 30px
	height: 30px
	display: flex
	align-items: center
	justify-content: center
	background: #fff
	outline: none
	border: none
	box-shadow: 0px 12px 20px #6F788E29
	font-size: 20px
	cursor: pointer

.btn-back
	position: relative
	display: inline-block
	margin-bottom: 10px
	padding: 10px 14px 10px 35px
	font-size: 13px
	color: #202430
	background: #DBF0FC
	font-weight: bold
	border-radius: 2px

	&::before
		content: ''
		position: absolute
		left: 10px
		top: 12px
		width: 16px
		height: 11px
		background: url(../img/arrow-left.svg) no-repeat center
		background-size: contain

.add-menu
	padding: 20px 12px 0
	list-style: none

	li

		a
			display: block
			padding: 14px 12px
			line-height: 26px
			color: #202430
			font-weight: bold
			border-radius: 4px

			&.active
				background: $green
				color: #fff

.add-text

	&__header
		display: block
		width: 100%
		margin-bottom: 40px
		font-size: 32px
		line-height: 50px
		font-weight: bold
		border: none
		outline: none
		background-color: transparent

		&::-webkit-input-placeholder 
			color: #828DA2
			font-size: 32px
			font-weight: bold

		&:-moz-placeholder 
			color: #828DA2
			font-size: 32px
			font-weight: bold

		&::-moz-placeholder
			color: #828DA2
			font-size: 32px
			font-weight: bold

		&:-ms-input-placeholder
			color: #828DA2
			font-size: 32px
			font-weight: bold

	&__text
		display: block
		width: 100%
		border: none
		outline: none
		background-color: transparent
		font-family: 'HelveticaNeue'
		font-size: 16px


	*::-webkit-input-placeholder 
		color: #828DA2

	*:-moz-placeholder 
		color: #828DA2

	*::-moz-placeholder
		color: #828DA2

	*:-ms-input-placeholder
		color: #828DA2






.voice
	padding: 20px
	margin-bottom: 40px
	display: flex
	align-items: center
	justify-content: space-between
	background: #DBF0FC
	border-radius: 10px

	&-time
		color: #828DA2

	&-record
		padding: 20px
		margin-bottom: 40px
		display: flex
		align-items: center
		background: #DBF0FC
		border-radius: 10px

		strong
			padding: 0 0 0 20px
			color: $green

	
.main-menu
	padding-left: 28px
	list-style: none

	>li
		display: inline-block
		padding: 0 20px

		&:first-child
			padding-left: 0

		&:last-child
			padding-right: 0

		>a
			display: block
			font-size: 16px
			font-weight: 500

			&.active
				position: relative
				


a.logo
	display: flex
	align-items: center
	font-family: "Rubik"
	font-size: 20px

	.icon
		font-size: 45px

	span
		padding-left: 15px
	



.btn
	position: relative
	display: inline-block
	padding: 24px 20px 24px
	font-weight: 500
	font-size: 16px
	font-weight: bold
	background-color: $main
	color: #fff
	text-align: center
	border-radius: 4px
	text-align: center
	outline: none
	border: none

	&:focus, &:hover
		outline: none
		color: #fff

	&-blue
		padding: 18px 20px 18px
		background: #DBF0FC
		color: $green

		&:hover, &:focus
			color: $green

	&-white
		padding: 18px 30px 17px
		color: $green
		background: #fff

		&:hover, &:focus
			color: $green

	&-clear
		display: inline-block
		vertical-align: middle
		padding: 0
		background-color: transparent
		border: none
		outline: none
		cursor: pointer


	&-grey
		color: #fff
		background: #96B5C7

	&:disabled

		&:hover, &:active, &:focus
			opacity: 1

	&-green
		background: $green


		
			

.soc-btn
	list-style: none

	li
		display: inline-block
		margin-right: 25px
		vertical-align: middle
		font-size: 20px

		.icon-vk
			font-size: 22px

		&:last-child
			margin-right: 0

	&__mobile
		position: absolute
		left: 0
		right: 0
		bottom: 15px
		text-align: center

		li
			a
				line-height: 20px




.banner
	position: relative
	min-height: 573px
	text-align: right

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		text-align: left

		.container
			height: 100%

		&__wrap
			display: flex
			flex-direction: column
			justify-content: center
			height: 100%
			text-align: left

	&-title
		margin-bottom: 24px
		font-size: 66px
		line-height: 76px
		font-weight: bold
		font-family: "Rubik"

	p
		margin-bottom: 50px
		font-weight: 500

	&-form
		max-width: 570px
		display: flex
		padding: 23px
		background: #fff
		box-shadow: 0px 12px 20px #6F788E29
		border-radius: 8px

		.form-item
			border: none
			width: calc(100% - 245px)


			label
				padding: 22px 14px 14px

			&.active
				box-shadow: none

				label
					padding: 2px 14px 14px




.form

	&-item
		position: relative
		border: 2px solid #DBF0FC
		border-radius: 4px

		

		input
			position: relative
			width: 100%
			padding: 18px 14px 14px
			font-size: 16px
			font-weight: bold
			color: #000
			background: transparent
			font-family: "Rubik"
			z-index: 1
			border: none
			outline: none

		label
			position: absolute
			padding: 16px 14px 14px
			left: 0
			top: 0
			right: 0
			bottom: 0
			font-size: 16px
			font-weight: bold
			color: #828DA2
			cursor: text
			font-family: "Rubik"
			transform-origin: top left
			transform: translate(0, 0) scale(1) 
			transition: all .1s ease-in-out


		textarea
			width: 100%
			height: 120px
			position: relative
			padding: 30px 14px 14px
			font-size: 16px
			font-weight: bold
			color: #000
			background: transparent
			font-family: "Rubik"
			z-index: 1
			border: none
			outline: none
			resize: none

		&.active
			
			border-color: transparent
			box-shadow: 0px 12px 20px #6F788E29
			input
				top: 8px
				

			label
				padding-top: 2px
				font-size: 14px
				font-family: "HelveticaNeue"
				font-weight: 500
				transform: translate(0, 8px)

		&.valid
			border-color: $green
				
.profile-info

	.form
		max-width: 400px

	.form-item
		margin-bottom: 30px


	.btn
		display: block
		margin-bottom: 50px
		width: 246px
		padding: 18px 0
		text-align: center

	&__form
		.btn
			margin-bottom: 40px
			

.latest-videos
	padding: 120px 0

	&__slider
		display: block
		margin-left: -12px
		margin-right: -12px

		[class^="col"]
			padding: 0
			width: auto
			margin-left: 12px
			margin-right: 12px
			text-align: center

		.latest-videos__item
			display: inline-block




	h3
		margin-bottom: 70px

	&__item
		position: relative

		&--overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center

		&--text
			position: absolute
			left: 0
			bottom: 0
			padding: 20px
			border-radius: 0px 10px 0px 0px
			background: #fff
			z-index: 10
			font-weight: 500
			color: #0BA59A
			line-height: 24px
			text-align: left


.profile-referral

	h3
		margin-bottom: 40px

	p
		margin-bottom: 40px
		line-height: 32px

.referral-form
	display: flex
	max-width: 640px
	width: 100%

	.form-item
		width: calc(100% - 240px)

		&.valid
			border-right: 0
			border-radius: 4px 0 0 4px

	.btn
		width: 240px

.referral-users
	margin-top: 120px

	h3
		margin-bottom: 10px

	&__table
		width: 100%
		border-collapse: separate
		border-spacing: 0px 10px
		margin-bottom: 30px

		thead

			td
				padding: 20px 0
				font-size: 14px
				font-weight: 500
				color: #828DA2

		tbody

			tr

				td:first-child
					border-radius: 4px 0 0 4px

				td:last-child
					border-radius: 0 4px 4px 0
					text-align: right

				td
					padding: 12px 12px
					font-size: 16px
					background: #DBF0FC
					vertical-align: middle

					span.referral-users__table--user
						display: block

						img
							border-radius: 50%
							display: inline-block
							vertical-align: middle

						strong
							padding-left: 10px
							display: inline-block
							vertical-align: middle

					.btn
						padding: 18px 4px
						width: 176px

					.form-item
						display: block
						margin-top: 10px
						background: #fff

					>strong
						height: 40px
						line-height: 40px

				&.align-bottom

					td
						vertical-align: bottom






.btn-play
	padding: 0
	border: none
	outline: none
	background-color: transparent
	cursor: pointer

.btn-record
	display: flex
	align-items: center
	justify-content: center
	width: 50px
	height: 50px
	border-radius: 50%
	background: $green



.icon-play
	display: inline-block
	position: relative

	&::before
		content: ''
		display: block
		width: 50px
		height: 50px
		background: url(../img/play.svg)


		
.services-block
	padding-bottom: 120px

	&__item
		padding: 32px 48px
		background: #DBF0FC
		border-radius: 8px

		h3
			margin-bottom: 5px

		p
			line-height: 32px

	[class^="col"]
		&:nth-child(2)
			.services-block__item
				background: #DBF7FC
		&:nth-child(3)
			.services-block__item
				background: #DBE5FC

.chart-day
	position: relative
	margin-bottom: 200px
	h3
		margin-bottom: 18px

	&__chart
		margin-top: 50px

	&__info
		position: absolute
		right: 0
		top: 0
		width: 42%
		height: 100%
		padding: 50px
		border-radius: 8px 0px 0px 8px
		background: #DBF0FC

		p
			margin-bottom: 30px
			line-height: 34px

	

.footer
	max-width: 1440px
	margin: 0 auto

	&-home
		position: relative
		padding: 100px 0 35px
		background: #0BA59A

		&::after
			content: ''
			position: absolute
			right: 0
			top: 0
			bottom: 0
			width: 150px
			height: 100%
			background: #fff

	h2
		margin-bottom: 24px
		font-size: 50px
		line-height: 60px
		color: #fff

	h5
		margin-bottom: 40px
		color: #fff

	&-nav
		margin-top: 80px
		margin-bottom: 60px

	&-logo
		display: flex
		align-items: center

		.icon-ts
			font-size: 45px

			&::before
				color: #fff

		>span
			padding: 0 0 0 15px
			font-size: 20px
			line-height: 26px
			font-family: "Rubik"
			color: #fff

	&-menu
		list-style: none

		li
			display: inline-block
			margin-right: 40px

			&:last-child
				margin-right: 0

			a
				font-size: 16px
				line-height: 32px
				color: #fff

	&-img

		img
			position: absolute
			top: 0
			bottom: 0
			right: 0
			margin: auto
			z-index: 10

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between

		p
			font-size: 12px
			color: #fff

		.soc-btn 
			li
				font-size: 18px
				margin-right: 20px

				&:last-child
					margin-right: 50px

				a

					[class^="icon"]
						&::before
							color: #fff
							opacity: .5
							transition: all .3s

					&:hover
						opacity: 1
						[class^="icon"]
							&::before
								opacity: 1


.registration
	padding: 70px 0

	h1
		margin-bottom: 50px
		font-size: 40px
		font-family: "Rubik"

	&-login
		padding: 40px 45px 60px
		background: #DBF0FC

		h3
			margin-bottom: 30px
			font-size: 23px
			font-weight: bold
			text-align: center

		.btn
			width: 100%

	&-form
		max-width: 400px
		margin-bottom: 150px

		.form-item
			margin-bottom: 30px

.subscription

	h3
		margin-bottom: 50px

	&-item
		padding: 20px
		background: #DBF0FC
		border-radius: 4px


		&__all
			padding: 48px 45px
			display: flex
			align-items: center
			margin-bottom: 25px
			cursor: pointer

			&.active
				background: $green
				color: #fff

			strong
				font-size: 24px
				font-weight: bold
				font-family: "Rubik"

			span
				padding-left: 38px


	&-author
		display: flex
		flex-wrap: wrap
		padding-bottom: 28px
		border-bottom: 1px solid rgba(150, 181, 199, .5)

		&__raiting
			position: relative
			display: inline-block
			margin-left: 10px
			padding: 0 0 0 24px

			&::before
				content: '\e912'
				position: absolute
				left: 0
				top: 0
				font-size: 20px
				font-family: 'icomoon'
				color: #FF7533


		&__img
			width: 50px

			img
				border-radius: 50%

		&__info
			padding-left: 12px
			width: calc(100% - 50px)

			h5
				margin-bottom: 14px
				font-weight: bold
				color: #000

			p
				margin-bottom: 20px
				line-height: 24px
				color: #828DA2

			&--icons
				display: flex
				align-items: center
				>a
					display: inline-flex
					align-items: center
					margin-right: 30px

					&:last-child
						margin-right: 0

					strong
						padding-left: 6px

					.icon-publications
						font-size: 19px
	






	&-markets
		padding: 16px 0 0

		h5
			margin-bottom: 15px
			color: #000
			font-weight: bold


	&-table
		margin-top: 70px
		margin-bottom: 30px

		&__market
			margin-right: 20px
			font-weight: 500

			&:last-child
				margin-right: 0

			.btn-clear
				position: relative
				top: 1px
				margin-left: 4px

	&-total
		display: flex
		justify-content: space-between
		align-items: flex-end

		strong
			font-size: 26px


		.btn
			padding: 19px 38px 17px


.subscription-author__icons

	&--item
		display: inline-flex
		align-items: center
		margin-right: 30px

		.icon-publications
			font-size: 19px

		.icon-refresh
			font-size: 22px

			&::before
				color: $green

	&--wrap
		padding-left: 14px
		display: flex
		flex-direction: column

		span
			line-height: 30px
			color: #4F5763
			

.table
	display: flex
	flex-flow: column nowrap
	flex: 1 1 auto
	list-style: none


	.tr
		width: 100%
		display: flex
		flex-flow: row nowrap
		margin-bottom: 10px
		background: #DBF0FC
		border-radius: 4px

		&:first-child
			margin-bottom: 0
			background-color: #fff

			.td
				color: #828DA2
				font-weight: 500

		.td
			&:last-child
				justify-content: flex-end


.td
	display: flex
	flex-flow: row nowrap
	flex-grow: 1
	flex-basis: 0
	padding: 18px 20px 16px
	font-size: 14px
	word-break: break-word
	overflow: hidden
	text-overflow: ellipsis
	min-width: 0px
	white-space: nowrap










[class^="icon"]
	position: relative
	display: inline-block

.icon

	&-user
		&::before
			content: ''
			display: block
			background-size: contain
			width: 18px
			height: 19px
			background: url(../img//user.svg) no-repeat
			

	&-message
		&::before
			content: ''
			display: block
			background-size: contain
			width: 19px
			height: 19px
			background: url(../img//message-circle.svg) no-repeat

	&-clear
		width: 14px
		height: 14px


		&::before, &::after
			content: ''
			position: absolute
			width: 2px
			height: 14px
			background: #0BA59A
			border-radius: 2px

		&::before
			transform: rotate(45deg)

		&::after
			transform: rotate(-45deg)

	&-refresh
		&::before
			content: ''
			display: block
			width: 22px
			height: 18px
			background: url(../img//refresh.svg) no-repeat
			background-size: contain

	&-list
		width: 24px
		height: 24px
		background: url(../img//list.svg) no-repeat

	&-mic
		display: inline-block
		width: 14px
		height: 19px
		background: url(../img//mic.svg) no-repeat
		background-size: contain
			



.check-list
	list-style: none

	li
		display: inline-block
		padding: 0 0 12px
		margin-right: 25px

		&:last-child
			margin-right: 0

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 28px
			cursor: pointer
			font-weight: 500
			font-size: 14px
			line-height: 24px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 18px
				height: 18px
				background-color: #fff
				border-radius: 2px

		&:checked
			&+label
				&::before
					background-image: url(../img/checked.svg)
					background-repeat: no-repeat
					background-position: center
					background-size: 60%
					background-color: $green




.rating-authors
	padding: 70px 0

	h1
		margin-bottom: 50px
		font-size: 40px

	.subscription-item
		padding: 30px
		margin-bottom: 20px
		border-radius: 16px

	.subscription-author
		padding-bottom: 0
		border: none

	.subscription-author__info

		p
			color: #202430
			line-height: 32px


.visible-xs, .visible-md
	display: none !important




.burger-menu
	display: flex
	align-items: center
	justify-content: center
	padding: 12px
	background: #DBF0FC
	border-radius: 2px
	border: none
	outline: none

	&.active
		background: $green
		border-radius: 6px
		color: #fff
		opacity: 1

		.icon-menu
			transform: rotate(45deg)
			&::before
				content: '\e90e'

	.icon-menu
		position: relative
		top: 1px
		font-size: 14px

	span
		padding-left: 8px
		font-size: 13px
		font-weight: bold


.select-market__btn
	position: relative
	margin: 0 15px
	padding: 15px
	background: #DBF0FC
	font-size: 13px
	font-weight: bold
	border-radius: 6px

	&::before
		content: '\e90e'
		position: absolute
		top: 13px
		right: 15px
		font-family: "icomoon"
		font-size: 18px
		line-height: 18px
		color: #96B5C7
		transition: all .3s

	&.active
		color: $green
		border-radius: 6px 6px 0 0
		&::before
			content: ''
			height: 3px
			width: 18px
			top: 21px
			background: #0ba59a












@media only screen and (max-width: 1439px)
	
	.container
		padding-left: 30px
		padding-right: 30px

	


	.footer-bottom
		flex-direction: column-reverse
		align-items: flex-start

		.soc-btn
			margin-bottom: 30px

	.add-image
		margin-bottom: 100px










@media only screen and (max-width: 1199px)

	a.logo span
		display: none

	.main-menu
		>li
			padding: 0 10px

	.soc-btn 
		li
			margin-right: 15px
			font-size: 16px

			.icon-vk
				font-size: 18px

	.banner
		min-height: 500px

	.banner-title
		margin-bottom: 24px
		font-size: 56px
		line-height: 57px

	.latest-videos
		padding: 60px 0

	.latest-videos__item--text
		font-size: 14px

		br
			display: none

	.services-block
		padding-bottom: 60px


	.footer-home
		padding: 60px 0 35px
		margin-right: 15px
		border-radius: 0 16px 0 0

		&:after
			display: none

		.row
			flex-direction: column

			[class^="col"]
				width: 100%

		.footer-img
			display: none


	.chart-day__info
		height: auto

	.footer-bottom
		flex-direction: column-reverse
		align-items: flex-start

		.soc-btn
			margin-bottom: 30px


	.footer h2
		font-size: 40px
		line-height: 50px


	.latest-videos__item--text
		width: 80%

	
	.wrap .content
		padding: 36px 30px 60px 30px


	.tabs-item__body
		.row
			flex-direction: column

			[class^='col']
				width: auto

		.latest-videos__item
			max-width: 440px


	.chat-item__message p
		font-size: 14px
		line-height: 26px





























@media only screen and (max-width: 992px)

	.content
		background: #F2F7FA

	.header-wrap 
		padding: 20px 0


	.hidden-md
		display: none

	.visible-md
		display: block !important

	.banner
		min-height: auto
		padding: 40px 30px
		

		>img
			display: none

		&-overlay
			position: static

		&-title
			font-size: 40px
			line-height: 50px

	.services-block__item
		padding: 26px 28px

		p
			font-size: 13px
			line-height: 24px

	h3
		font-size: 18px
		line-height: 28px

	.chart-day
		margin-bottom: 0

		.row
			flex-direction: column

			[class^='col']
				width: auto

	.chart-day__info
		position: static
		width: auto
		margin: 36px 0 60px


	.subscription

		h3
			font-size: 24px
			text-align: center

		&-wrap
			flex-direction: column

			[class^="col"]
				width: auto

		&-item
			max-width: 400px
			margin: 0 auto 30px

		&-total
			flex-direction: column
			align-items: center

			strong
				margin-bottom: 20px
				font-size: 18px


	.registration
		padding: 50px 0

		&-wrap
			flex-direction: column

			[class^="col"]
				width: auto

		&-form
			margin-bottom: 50px

		&-login
			margin-bottom: 50px

	.rating-authors
		padding: 50px 0

		.subscription-item
			max-width: none

	.subscription-author__icons--wrap span
		line-height: 20px
		font-size: 12px

	.wrap
		display: block
		background: #f2f7fa

		.header
			flex-direction: row
			width: auto
			min-height: auto
			max-height: none
			height: auto
			padding: 12px 15px
			background: #fff
			border-radius: 0

			.logo
				position: absolute
				left: 0
				right: 0
				width: 37px
				height: 37px
				margin: 0 auto

			&-nav
				flex-direction: row

		.aside
			width: auto

		.content
			width: auto
			padding: 10px 15px 0



	.user-nav

		&__logout
			display: none

	.user-menu
		display: none
		position: absolute
		left: -15px
		right: -15px
		top: 70px
		min-height: calc(100vh - 70px)
		padding: 10px 15px 0
		z-index: 100
		background: #fff

		>li
			padding: 0
			margin-bottom: 20px
			display: block

			>a
				display: block
				padding: 0 15px
				

				[class^='icon']
					display: inline-block
					margin: 0
					vertical-align: middle

				.icon-settings, .icon-support
					font-size: 24px

				.icon-update
					font-size: 26px

				span
					display: inline-block
					padding: 0 0 0 25px
					vertical-align: middle
					font-size: 14px
					line-height: 15px
					font-weight: 500

					br
						display: none


			.main-menu
				display: block !important
				min-height: auto
				position: static
				padding: 30px 0 0 0
				margin: 30px 15px 0
				border-top: 1px solid rgba(150, 181, 199, .5)

				>li
					display: block
					margin-bottom: 20px
					padding: 0

					a
						font-size: 16px
						line-height: 26px
						font-weight: 700
						color: #202430

				.soc-btn__mobile
					position: absolute
					top: 90%
					left: 0
					right: 0


				.soc-btn
					
					text-align: center

					[class^='icon']
						font-size: 18px


	.aside
		h4
			padding: 0 15px

	.all-markets
		margin: 0 15px 0
		padding: 0 12px 15px
		display: none
		background: #dbf0fc
		border-radius: 0 0 6px 6px

	.accordion-item
		padding: 0
		margin-bottom: 10px

		&__header
			
			padding: 10px 15px
			background: #fff
			font-size: 13px
			color: #000
			border-radius: 6px

			&::before
				top: 14px
				right: 15px
				color: #96B5C7

		&.active
			.accordion-item__header
				color: $green
				border-radius: 6px 6px 0 0

				&::before
					top: 21px
					color: $green

			.accordion-item__body
				border-radius: 0 0 6px 6px


	.accordion-item__body
		margin: 0
		padding: 0 15px 10px
		background: #fff
		


	.tabs-item__info
		padding: 20px 0 0


	.wrap+.footer
		position: static
		padding: 10px 15px 35px
		background: #f2f7fa

	.accordion-item__list li a
		display: block


	.latest-updates, .messages-list
		padding: 0 15px

	.latest-updates__item, .messages-list__item
		padding: 10px 20px
		margin-bottom: 2px
		background: #fff

		&--name, &--time
			font-size: 12px

	.scroll-wrapper
		height: 382px
		margin-bottom: 20px

	
	.latest-updates
		margin-top: 20px


	.article-info
		padding: 20px 0 0

		>p
			margin-bottom: 20px
			font-size: 14px
			line-height: 30px


	.comments-form
		textarea
			background: #fff


	.form-item
		background: #fff

	
	.aside
	

		.messages-list
			display: none

		.messages-list__toggler
			position: relative
			padding: 9px 15px
			font-size: 13px
			background: #dbf0fc
			line-height: 26px
			color: #202430
			font-weight: 700

			&::before
				content: '\e90e'
				position: absolute
				top: 13px
				right: 15px
				font-family: icomoon
				font-size: 18px
				line-height: 18px
				color: #96b5c7
				transition: all .3s

			&.active
				background: $green
				color: #fff

				&::before
					content: ''
					top: 21px
					width: 15px
					height: 2px
					background: #fff


	.chat
		padding-top: 20px
		padding-bottom: 40px
		background: #fff

		.scrollbar-inner
		    margin-bottom: 0
		    height: 100%
		    overflow-y: scroll


	.chat-item__message
		width: 75%
		padding: 20px 20px 20px

		p 
			font-size: 12px
			line-height: 18px

	.chat-item__header 
		padding-bottom: 10px

	.chat-item__header--time
		font-size: 10px

	.chat-item__header--name
		font-size: 12px

	.chat-form
		padding: 10px 0
		border-radius: 4px

		.btn
			font-size: 0
			text-indent: -9999px
			width: 55px
			background-image: url(../img/send-mail.svg)
			background-repeat: no-repeat
			background-position: center
			background-size: 50%

	.chat-form 
		textarea
			width: calc(100% - 55px)
			padding: 5px 10px
			height: 60px
			background: #fff

	.chat-bottom
		bottom: -30px

	.chat-no-message strong
		font-size: 16px




@media only screen and (max-width: 768px)


	.container
		padding-left: 15px
		padding-right: 15px

	.hidden-xs
		display: none !important

	.header-wrap
		position: relative
		padding: 10px 0

		.logo
			position: absolute
			left: 0
			right: 0
			margin: auto
			width: 37px
			height: 37px

			.icon
				font-size: 37px

	.visible-xs
		display: block !important

		



	.main-menu
		display: none
		position: absolute
		left: -15px
		right: -15px
		top: 60px
		min-height: calc(100vh - 60px)
		padding: 10px 15px 0
		z-index: 100
		background: #fff

		>li
			padding: 0
			margin-bottom: 12px
			display: block

			a
				font-size: 16px
				line-height: 26px
				font-weight: bold

				&.btn
					padding: 12px 20px
					margin-bottom: 24px
					font-size: 13px
					font-weight: bold


		.soc-btn__mobile
			li
				a
					line-height: 20px

	.header-right__login
		position: relative
		display: inline-block
		padding: 12px 37px 12px 14px
		margin: 0
		border-radius: 2px
		background: #DBF0FC
		font-size: 13px
		font-weight: bold

		&::before
			content: ''
			position: absolute
			right: 14px
			top: 11px
			width: 14px
			height: 15px
			background: url(../img/user-black.svg)
			background-size: contain



	.banner
		padding: 40px 0

		&-title 
			margin-bottom: 20px
			line-height: 45px

		p
			margin-bottom: 40px

	p
		font-size: 13px
		line-height: 24px


	h3
		font-size: 16px
		line-height: 26px


	.services-block

		.row
			flex-direction: column

			[class^="col"]
				width: auto

		&__item
			margin-bottom: 10px

			h3
				font-size: 18px

	.chart-day__chart 
		margin-top: 30px

	.chart-day__info
		padding: 30px 25px 40px

		p
			margin-bottom: 14px
			line-height: 24px

		
	.chart-day
		h3
			font-size: 24px
		.container
			padding-left: 0
			padding-right: 0

			h3, h6, .chart-day__chart
				padding-left: 15px
				padding-right: 15px

		.chart-day__info
			margin-left: 15px
			border-radius: 16px 0 0 16px



		.row
			margin-right: 0
			margin-left: 0

			[class^=col]
				padding-right: 0
				padding-left: 0


	.latest-videos__slider .slick-list
		padding-right: 50px

	.latest-videos__item--text
		position: relative
		width: 100%
		top: -6px
		font-size: 13px

	.latest-videos__item--overlay
		position: static
		display: block

		.btn-play
			position: absolute
			top: 30%
			left: 0
			right: 0
			margin: auto
			width: 50px



	.footer
		h2
			font-size: 30px
			line-height: 40px


	.table
		display: table
		width: 100%
		border-collapse: separate
		border-spacing: 0 5px


		.tr
			display: table-row

			&:first-child
				.td
					color: #828DA2
					font-weight: 500


			.td
				display: table-cell

	.registration
		padding: 30px 0

		h1
			margin-bottom: 30px
			font-size: 24px
			line-height: 30px

	h1
		font-size: 20px

	.subscription-item__all
		padding: 20px 30px
		text-align: center

	.td
		padding: 10px 5px
		font-size: 12px

	.registration-login
		padding: 30px 15px 30px

		h3
			margin-bottom: 15px
			font-size: 18px

	.subscription-table
		margin-top: 30px


	.rating-authors
		padding: 30px 0

		h1
			margin-bottom: 30px
			font-size: 24px
			line-height: 34px


	.subscription-author__info--icons
		flex-wrap: wrap

	.subscription-author__icons--item
		width: 50%
		margin: 0 0 20px


	.tabs-nav
		overflow-x: scroll
		overflow-y: hidden
		white-space: nowrap

		li
			display: inline-block

			a
				padding: 9px 14px
				border-radius: 6px
				font-size: 13px


	.tabs-wrap
		padding: 20px 0 0

	.tabs-item__info>p
		margin-bottom: 20px
		font-size: 14px
		line-height: 30px

	.voice
		padding: 10px

		.icon-play::before
			width: 37px
			height: 37px
			background-size: contain

		&-time
			font-size: 12px

	.wrap
		padding-bottom: 30px

		.content
			h3
				margin-bottom: 20px

	.aside
		padding: 20px 0 0

	.select-market__btn
		margin-top: 20px

	
	.article
		>img
			margin: 0 0 40px


		.row
			display: block

			[class^="col"]
				width: auto

				p
					font-size: 14px
					line-height: 30px
					margin-bottom: 20px


	.comments-item__post p
		line-height: 20px

	.comments-item__bottom
		font-size: 14px

	.user-nav__user
		width: 37px
		height: 37px

	a.logo .icon
		font-size: 37px

	.add-menu
		padding: 0px 15px 0

		li
			margin-bottom: 5px

			a
				position: relative
				padding: 9px 15px
				font-size: 13px
				background: #DBF0FC

				&::before
					content: '\e90e'
					position: absolute
					top: 13px
					right: 15px
					font-family: icomoon
					font-size: 18px
					line-height: 18px
					color: #96b5c7
					transition: all .3s

				&.active
					&::before
						display: none



	.add-text__header
		margin-bottom: 10px

		&::-moz-placeholder
			font-size: 16px

		&::-webkit-input-placeholder
			font-size: 16px

		&:-ms-input-placeholder
			font-size: 16px

	.add-text__text

		&::-moz-placeholder
			font-size: 14px

		&::-webkit-input-placeholder
			font-size: 14px

		&:-ms-input-placeholder
			font-size: 14px

	.add-image
		margin-bottom: 30px

		&__icon
			flex-direction: row
			align-items: center
			justify-content: center

			.icon-image
				margin: 0
				font-size: 20px

				&::before
					color: $green

			strong
				padding: 0 0 0 10px
				font-size: 13px
				color: $green


	.add-image input[type=file]+label
		height: auto
		outline: none
		padding: 13px 0


	.add-menu
		margin-bottom: 20px

	.article

	.voice-record
		padding: 11px 10px

		strong
			font-size: 13px

	
	.btn-record
		width: 37px
		height: 37px

		.icon-mic
			width: 12px
			height: 16px


	.user-img 
		display: inline-block
		margin-bottom: 30px
		padding-right: 50px

		.btn-del
			right: 0

	.aside-profile
		h3
			padding: 0 15px
			margin-bottom: 15px

		&__wrap
			display: flex
			align-items: center
			padding: 0 15px
			margin-bottom: 20px

			img
				display: block
				margin: 0
				max-width: 80px

			h3
				font-size: 16px

		p
			padding: 0 15px
			margin-bottom: 20px
			font-size: 14px
			line-height: 30px

		.subscription-author__icons--item
			display: inline-flex
			vertical-align: top
			margin: 0 0 30px 15px 
			width: auto

			.subscription-author__icons--wrap
				width: calc(100% - 20px)




	.profile-menu
		margin: 0 0 30px
		overflow-x: scroll
		overflow-y: hidden
		white-space: nowrap

		li
			display: inline-block

			a
				padding: 14px 24px
				border-radius: 6px
				font-size: 13px
				color: #828DA2

				&.active
					color: #0ba59a
					background: #dbf0fc


	.profile-info



		.form
			&-item
				margin-bottom: 12px

		.btn
			margin-top: 25px
			margin-bottom: 25px

	.form-item textarea
		font-size: 14px


	.referral-users
		margin-top: 50px


	.referral-users__table tbody tr td span.referral-users__table--user 
		strong
			font-size: 13px

		img
			max-width: 30px

	

	.referral-users__table

		thead
			display: none

		tbody
			display: block
			tr 
				display: block
				margin-bottom: 30px
				td 
					display: block
					text-align: center
					margin-bottom: 5px
					padding: 0px 15px
					background: transparent
					.btn
						width: 150px
						margin: 0 auto
						display: block
						padding: 10px 4px

			.form-item
				margin-bottom: 10px
				text-align: left














@media only screen and (max-width: 550px)

	.banner-form
		width: 100%
		max-width: none
		padding: 0 20px 25px
		flex-direction: column

		.form-item
			width: 100%
			margin-bottom: 20px

	.latest-videos 
		padding: 20px 0 60px

	.chart-day__info
		.btn-white
			padding: 15px 30px

	.btn
		width: 100%
		font-size: 13px

	.footer-home .row [class^=col]
		padding-left: 15px
		padding-right: 15px

	.footer-nav
		margin: 30px 0
		display: block

	.footer-logo
		margin-bottom: 30px
		opacity: .5

		br
			display: none

	.footer-menu

		li
			display: block
			margin-bottom: 20px

			a
				font-weight: 500

	.footer-bottom

		p
			font-size: 13px
			opacity: .5

	.subscription-table__market
		margin-right: 5px

		.btn-clear
			margin-left: 1px

	.td
		font-size: 10px

	.comments
		h3
			font-size: 16px

	.comments-form
		flex-direction: column

		textarea
			margin-bottom: 15px
			width: 100%

	.comments-item
		>img
			width: 30px
			height: 30px

		&__time
			font-style: italic

		&__reply
			font-size: 14px
			font-weight: bold


	.referral-form
		display: block

		.form-item
			width: 100%
			margin-bottom: 12px
			border-radius: 4px

			&.valid
				border: 2px solid $green

		.btn
			width: 100%


	.article-top
		margin-bottom: 30px

		&__author
			font-size: 13px

		&__time
			font-size: 13px


	






	














@media only screen and (max-width: 479px)

	.rating-authors .subscription-item
		padding: 20px 15px

		p
			line-height: 24px

		.subscription-author__img 
			width: 30px

		h5
			font-size: 14px

	.subscription-author__info--icons
		margin-left: -30px
		margin-right: -30px

	.subscription-author__icons--wrap
		font-size: 14px

	.subscription-author__icons--wrap span
		line-height: 14px
		margin-bottom: 5px

	.profile-info	
		.btn
			width: 100%


